body {
  background: #eee;
}
.board-frame {
  width: 320px;
  box-shadow: 0px 0px 5px;
  border-radius: 10px;
  background: #004558;
  text-align: center;
  padding: 0;
}

.text-white {
  color:white;
}

.card-row {
  width: 300px;
  margin: auto;
}
.card {
  height: 80px;
  width: 80px;
  background: url('/images/back.png');
  background-size:80px 80px;
  box-shadow: 0px 0px 5px;
  border-radius: 100%;
  margin: 10px;
  padding: 0;
}

.board-bg {
  background:#004558;
}

.score-board {
  margin-top: 50px !important;
  margin-bottom: 10px !important;
  border-radius: 0px !important;
  height: 50px;
  margin: auto;
  background-color: #13B0DD;
}

.valing-center-text {
  padding-top:10px;
  vertical-align: middle;
}
